version: "3.4"
services:
  # doc:
    # build:
       # context: ./doc
    # command: make clean && make
    # volumes:
      # - ${PWD}/doc:/doc
  # balancer_web:
    # image: tutum/haproxy
    # environment:
      # - STATS_AUTH stats:stats
    # depends:
      # - web
    # ports:
      # - 8080:8080
      # - 1936:1936

  # balancer_web:
    # image: tutum/haproxy
    # environment:
      # - STATS_AUTH stats:stats
    # depends:
      # - web
    # ports:
      # - 8080:8080
      # - 1936:1936
  app:
    image: basestylo/sense_app
    build:
      context: ./app
    environment:
      - MIX_ENV=dev
      - INFLUXDB_HOST=influxdb
      - PG_HOST=postgres
      - PG_USERNAME=postgres
      - MQTT_HOST=mqtt
    depends_on:
      - postgres
      - influxdb
      - mqtt
    ports:
      - 4000:4000
    user: $UID
    volumes:
      - ./app:/app
    stdin_open: true
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

  web:
    image: basestylo/sense_web
    build:
      context: ./web
      target: dev
    user: $UID
    environment:
      - API_HOST=app
    volumes:
      - ./web:/app
    ports:
      - 4200:4200
    depends_on:
      - app
    stdin_open: true
    tty: true
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

  postgres:
    image: postgres:9.6.3
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=sense_dev
    ports:
      - 5432:5432
    deploy:
      mode: replicated
      replicas: 1


  influxdb:
    image: influxdb:1.6
    ports:
      - 8086:8086
      - 8083:8083

  mqtt:
    image: emqx/emqx:latest
    environment:
      - EMQX_WAIT_TIME=60
      - EMQX_LOADED_PLUGINS="emqx_recon,emqx_retainer,emqx_management,emqx_dashboard, emqx_auth_http"
      - EMQX_ADMIN_PASSWORD=p455w0rd
      - EMQX_AUTH__HTTP__AUTH_REQ=http://app:4000/mqtt/user
      - EMQX_AUTH__HTTP__AUTH_REQ__method=post
      - EMQX_AUTH__HTTP__AUTH_REQ__params=clientid=%c,username=%u,password=%P
      - EMQX_AUTH__HTTP__SUPER_REQ=http://app:4000/mqtt/superuser
      - EMQX_AUTH__HTTP__SUPER_REQ__method=post
      - EMQX_AUTH__HTTP__SUPER_REQ__params=clientid=%c,username=%u
      - EMQX_AUTH__HTTP__ACL_REQ=http://app:4000/mqtt/acl
      - EMQX_AUTH__HTTP__ACL_REQ__method=post
      - EMQX_AUTH__HTTP__ACL_REQ__params=access=username=%u,topic=%t
      - EMQX_LOG__CONSOLE=console
      - EMQX_LOG__CONSOLE__LEVEL=debug
    ports:
      - 1883:1883
      - 8083:8083
      - 18083:18083

networks:
  default:
    driver: overlay
